
<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

        ͏<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Allura" rel="stylesheet">

	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
	<body>

		<div class="parallax-container">
			<div class="parallax"><img class="responsive-img" src=""></div>
		</div>

		<header class="container">
			<div class="logo-background container">
			<img class="responsive-img" src="images/bakery/cupcake.jpg">
			</div>

			<div class="container" id="title">
				<div id="title-text">
					<h1>Nenz Bakery</h1>
					<h5><em>Truly sublime products to indulge all your senses</em></h5>
				</div>
			</div>
		</header>

		 <nav>
	      <div class="information">
	        <ul class="container">
	            <li><a href="/">Home</a></li>
	            <li><a href="/products">Our Products</a></li>
	            <li><a href="/about">About</a></li>
	            <li><a href="/cafe">Cafe</a></li>
	        </ul>
	      </div>
		</nav>

		<div class="row">
			<div class="col s4"></div>
		</div>

<%= yield %>

        <div class="mediainfo container">

            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>

            <a href="https://twitter.com/" class="fa fa-twitter"></a>

            <a href="https://www.instagram.com/" class="fa fa-instagram"></a>         
        </div>

		<footer>
			<h5>Copyright Nenz Bakery 2018. All rights reserved.</h5>
		</footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

		<script type="text/javascript" src="main.js"></script>
	</body>
</html>